
  
  .container {
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
  }
  
  .book-section {
    width: 300px;
    text-align: center;
    margin-top: 25px;
  }
  
  .book-cover {
    width: 100%;
    border: 1px solid #ccc;
  }
  
  .actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .btn {
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .add-to-bag {
    background: #c0392b;
    color: white;
  }
  
  .wishlist {
    background: #555;
    color: white;
  }
  .wished {
    background: #070707;
    color: white;
  }
  
  .details-section {
    flex: 1;
  }
  
  .author {
    font-size: 16px;
    margin-top: -10px;
    color: #555;
  }
  
  .rating-price {
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .rating {
    background: #4CAF50;
    color: white;
    padding: 4px 10px;
    border-radius: 4px;
  }
  
  .price {
    font-size: 20px;
    margin-top: 15px;
  }
  
  .current-price {
    font-weight: bold;
    color: #000;
  }
  
  .old-price {
    text-decoration: line-through;
    color: #888;
    margin-left: 10px;
  }
  
  .book-detail {
    margin: 20px 0;
  }
  
  .feedback-section {
    margin-top: 40px;
  }
  
  .review-form {
    background: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    background-color:#d5d5d5 ;
  }
  
  .stars {
    font-size: 20px;
    color: gold;
    margin: 5px 0;
  }
  
  textarea {
    width: 96%;
    height: 80px;
    margin: 10px 0;
    padding: 10px;
    resize: none;
  }
  
  .submit {
    background: #3498db;
    color: white;
    display: flex;
    justify-self: right
  }
  
  .reviews {
    background: #fff;
    padding: 15px 0;
  }
  
  .review {
    display: flex;
    margin-bottom: 15px;
  }
  
  .user-initial {
    background: #ccc;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }
  .quantity-selector{

    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
  .qty-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(178, 177, 177);
    cursor: pointer;
    background: white;
  }
  .qty-btn:hover{
    background: rgb(174, 173, 173);
  }
  .review-header {
    font-size: 16px;
    margin-bottom: 5px;
  }
  @media(max-width:412px){
    .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }  
  .book-section {
    width: 100%;
    text-align: center;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .book-cover {
    width: 90%;
    border: 1px solid #ccc;
    height: 420px;
  }
  .actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
  }
  .btn[_ngcontent-ng-c4234786091] {
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    font-size: large;
    width: 162px;
    height:40px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .feedback-section {
    margin-top: 0px;
  }
  }
  