<div class="book-grid">
    <!-- Book Card -->
    <div [ngClass]="book.quantity>0?'book-card':'out-of-stock' "*ngFor="let book of filteredBooks" >
      <img src={{book.bookImage}} alt="Book cover" class="book-image" (click)="onBookClick(book)"/>
      <div class="book-details" (click)="onBookClick(book)">
        <div *ngIf="book.quantity===0" class="out-label">OUT OF STOCK</div>
        <h4>{{book.bookName}}</h4>
        <p>by {{book.author }}</p>
        <div class="rating">⭐ 4.5 <span>(20)</span></div>
        <div class="price">
          <strong>Rs. {{book.discountPrice}}</strong> <span class="original-price">Rs. {{book.price}}</span>
        </div>
      </div>
      
    </div>


  </div>