<div class="container">
    <div class="success-image">🎉✨⭐</div>
    <h1>Order Placed Successfully</h1>
    <p class="confirmation-msg">
      hurray!!! your order is confirmed, 
    </p>
    <p class="confirmation-msg">
      the order id is <strong>#123456</strong>, 
    </p>
    <p class="confirmation-msg">
       save the order id for further communication..
    </p>

    <div class="contact-table">
      <table>
        <tr>
          <th>Email us</th>
          <th>Contact us</th>
          <th>Address</th>
        </tr>
        <tr>
          <td>admincom</td>
          <td>+91 8163475881</td>
          <td>
            42, 14th Main, 15th Cross, Sector 4, opp to BDA complex,<br />
            near Kumarakom restaurant, HSR Layout, Bangalore 560034
          </td>
        </tr>
      </table>
    </div>

    <button class="continue-btn" (click)="toHome('books')">CONTINUE SHOPPING</button>
  </div>